* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	background-color: blue;
	height: 100%;
	margin: 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* .container {
	flex: 1;
	max-width: 1000px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
} */

