.places {
	text-align: center;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.places h1 {
	text-align: left;
	font-size: 30px;
	width: 100%;
}

.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	position: relative;
}

.places article h2 {
	font-size: 30px;
}

.price_by_night {
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	margin: 20px 0;
}

.information > div {
	width: 100px;
}

.information > div > div {
	width: 100%;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
}

.max_guest > div {
	background: url("../images/icon_group.png");
}

.number_rooms > div {
	background: url("../images/icon_bed.png");
}

.number_bathrooms > div {
	background: url("../images/icon_bath.png");
}

.user {
	margin: 10px 0px;
}

.user,
.description {
	text-align: left;
}

.user > span {
	font-weight: bold;
}

.places .amenities {
	text-align: left;
	margin-top: 40px;
}

.places .amenities > h2 {
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
}

.places .amenities > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.places .amenities > ul > li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.places .amenities > ul > li > div {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 10px;
}

.places .tv {
	background-image: url("../images/icon_tv.png");
}

.places .wifi {
	background-image: url("../images/icon_wifi.png");
}

.places .pets {
	background-image: url("../images/icon_pets.png");
}

.places .reviews {
	text-align: left;
	margin-top: 40px;
}

.places .reviews > h2 {
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
}

.places .reviews > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
