html, body, section, article, div, h1, h2, h3, ul, li {
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	color: #484848;
	font-size: 14px;
	font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container {
	max-width: 1000px;
	margin: 30px auto 0px;
}
