.places {
	text-align: center;
	padding-bottom: 60px
}

.places h1{
	text-align: left;
	font-size: 30px;
}

.places article {
	display: inline-block;
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places article:nth-of-type(2) {
	margin-left: -4px
}
.places article h2 {
	font-size: 30px;
}
