.places {
	text-align: center
}

.places h1{
	text-align: left;
	font-size: 30px;
}

.places article {
	display: inline-block;
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative
}

.places article:nth-of-type(2) {
	margin-left: -4px
}

.places article h2 {
	font-size: 30px;
}

.price_by_night {
	color: #FF5A5F;
	border: #FF5A5F;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 20px

}
