.places {
	text-align: center
}

.places h1{
	text-align: left;
	font-size: 30px;
}

.places article {
	display: inline-block;
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative
}

.places article:nth-of-type(2) {
	margin-left: -4px
}

.places article h2 {
	font-size: 30px;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	position: absolute;
	top: 20px;
	right: 20px

}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.information > div {
	width: 100px;
}

.information > div > {
	width: 100%;
	height: 50px;
	background-repeat: no-repeat;
}

.max_guest > div {
	background: url('../icon_group.png');
}

.number_rooms > div {
	background: url('../icon_bed.png');
}

.number_bathrooms > div {
	background: url('../icon_bath.png');
}
